@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';
    margin: 0;
    box-sizing: border-box;
}

.sudoku {
    width: 100vw;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sudoku_title {
    color: rgb(0, 0, 0);
}

.sudoku_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sudoku_container-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.sudoku_container-buttons > button {
    font-family: 'Montserrat';
    margin: 0 9px;
    width: 90px;
    height: 30px;
    background-color: #375d99;
    border: none;
    color: white;
    transition: 1.2s;
}

.sudoku_container-buttons > button:hover {
    background-color: white;
    color: #375d99;
    border: 1px solid #375d99; 
    outline: none;
}

@media screen and (max-width: 479px) {
    .sudoku_container-buttons > button {
        margin: 0 4px;
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
}



