input {
    height: 45px;
    width: 45px;
    padding: 0;
    text-align: center;
    color: #fafafa;
    border: 1px solid white;
    background-color: rgb(180, 48, 48);
}

input:disabled {
    background-color: #203b66;
    color: white;
}


input:nth-child(3n) {
    margin-right: 10px;
}

input:nth-child(n+19):nth-child(-n+27) {
    margin-bottom: 10px;
}

input:nth-child(n+46):nth-child(-n+54) {
    margin-bottom: 10px;
}
